<div>
    <div class="container">
      <footer class="d-flex footer flex-wrap justify-content-between align-items-center ">
        <div class="col-md-4 d-flex align-items-center"> <span class="mb-3 mb-md-0 rights">© 2025</span> </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <a class="nav-link  footer-icon" href="mailto:abdursujon@hotmail.com"><img src="assets/home.png"
              alt="home"></a>
          <a class="nav-link footer-icon" href="mailto:abdursujon@hotmail.com"><img src="assets/about.png"
              alt="about"></a>
          <a class="nav-link footer-icon" href="mailto:abdursujon@hotmail.com"><img src="assets/skills.png"
              alt="skills"></a>
          <a class="nav-link footer-icon" href="mailto:abdursujon@hotmail.com"><img src="assets/work.png"
              alt="work"></a>
          <a class="nav-link footer-icon" href="mailto:abdursujon@hotmail.com"><img src="assets/email.png"
              alt="email"></a>
          <a class="nav-link footer-icon" href="https://www.linkedin.com/in/abdur-rahim-sujon/"><img
              src="assets/linkedin.png" alt="email"> </a>
          <a class="nav-link footer-icon" href="https://github.com/abdursujon"><img src="assets/github.png" alt="email">
          </a>
        </ul>
      </footer>
    </div>
</div>