<div class="footer-container">
  <div class="container">
    <footer class="d-flex footer flex-wrap justify-content-between align-items-center">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 rights">© 2025 Abdur Sujon.</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li>
          <a class="nav-link footer-icon" href="mailto:abdur.sujon.dev@gmail.com" title="Email Me">
            <img src="assets/home/icon/email.png" alt="email" />
          </a>
        </li>
        <li>
          <a class="nav-link footer-icon" href="https://www.linkedin.com/in/abdursujon/" title="View My LinkedIn">
            <img src="assets/home/icon/linkedin.png" alt="LinkedIn" />
          </a>
        </li>
        <li>
          <a class="nav-link footer-icon" href="https://github.com/abdursujon" title="View My Github">
            <img src="assets/home/icon/github.png" alt="Github" />
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>
