<div class="footer-container  mt-sm-5 mt-lg-0">
  <div class="container">
    <footer class="d-flex footer flex-wrap justify-content-between align-items-center">

      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 rights text-secondary">© 2026 Abdur Sujon</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

        <li>
          <a class="nav-link footer-icon" href="mailto:abdur.sujon.dev@gmail.com" title="Email Me">
            <img class="themed-icon" data-dark="assets/home/icon/email_white.png"
              data-light="assets/home/icon/email_black.png" alt="email" />
          </a>
        </li>

        <li>
          <a class="nav-link footer-icon" href="https://www.linkedin.com/in/abdursujon/" title="View My LinkedIn">
            <img class="themed-icon" data-dark="assets/home/icon/linkedin_white.png"
              data-light="assets/home/icon/linkedin_black.png" alt="LinkedIn" />
          </a>
        </li>

        <li>
          <a class="nav-link footer-icon" href="https://github.com/abdursujon" title="View My Github">
            <img class="themed-icon" data-dark="assets/home/icon/github_white.png"
              data-light="assets/home/icon/github_black.png" alt="Github" />
          </a>
        </li>

      </ul>

    </footer>
  </div>
</div>